.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 2rem auto 3rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  box-shadow: 4px 4px 16px 4px #ccc;
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 2rem 0 0;
}
